div.scrollable {
  width: 100%;
  max-height:100px;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.dropdown-menu{
  width: 500%;
}
.form-title{
  position: absolute;
  margin-top: 10px;
  padding-bottom: 10px;
  transform: translate(250%);
  font-size: 20px;
}
.book-form{
  padding-top: 20px;
  padding-bottom: 10px;
}
