<div class="container">
  <div class="row">
    <div class="btn-group book-form">
      <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Add Book
        </button>
        <div class="dropdown-menu dropdown">
          <strong class="form-title">Add Book</strong>
          <form #f="ngForm" (ngSubmit)="saveBook()" class="border-light p-5">
            <div class="form-group">
              <label for="bookName">Name</label>
              <input type="text" class="form-control" id="bookName" [(ngModel)]="book.name" name="name"
                     placeholder="Enter name">
            </div>
            <div class="form-group">
              <label for="bookDescription">Description</label>
              <textarea class="form-control" id="bookDescription" [(ngModel)]="book.description" name="description"
                        placeholder="Enter description" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="bookRelease">Release Date</label>
              <input type="date" class="form-control" id="bookRelease" [(ngModel)]="book.releaseDate" name="releaseDate">
            </div>
            <div class="form-group">
              <label for="authorID">Author: </label>
              <select id="authorID" class="custom-select" [ngModel]="book.authorID">
                <option *ngFor="let author of authors" [ngValue]="author.uuid"> {{author.name}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="bookQuantity">Quantity</label>
              <input type="text" class="form-control" id="bookQuantity" [(ngModel)]="book.quantity" name="quantity"
                     placeholder="Enter Quantity">
            </div>
            <div class="form-group">
              <label for="bookPages">Pages</label>
              <input type="text" class="form-control" id="bookPages" [(ngModel)]="book.pages" name="pages"
                     placeholder="Enter page amount">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!--Table-->
    <div class="table_cont">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Release Date</th>
          <th scope="col">Author(s)</th>
          <th scope="col">Quantity</th>
          <th scope="col">Pages</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of books">
          <td>{{book.name}}</td>
          <td>
            <div class="scrollable">
              {{book.description}}
            </div>
          </td>
          <td>{{book.releaseDate}}</td>
          <td>{{getAuthorNameByID(book.authorID)}}</td>
          <td>{{book.quantity}}</td>
          <td>{{book.pages}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
