<div class="table_cont">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Release Date</th>
      <th scope="col">Author(s)</th>
      <th scope="col">Quantity</th>
      <th scope="col">Pages</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td>{{book.name}}</td>
      <td>{{book.description}}</td>
      <td>{{book.releaseDate}}</td>
      <td>{{book.authorIDs}}</td>
      <td>{{book.quantity}}</td>
      <td>{{book.pages}}</td>
    </tr>
    </tbody>
  </table>
</div>
